<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .parent {
            padding: 10px 20px 10px 20px;
            background-color: red;
        }

        .child {
            color: white;
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child">Home</div>
        <div class="child">Home</div>
        <div class="child">Home</div>
        <div class="child">Home</div>
        <div class="child">Home</div>
    </div>
</body>
</html>